* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  color: rgb(51, 51, 51);
}

.article-image {
  width: 500px;
  height: 500px;
  display: block;
}

ul {
  list-style: square;
}

main {
  width: 70%;
  padding-left: 40px;
}

aside {
  width: 20%;
  vertical-align: top;
}

main,
aside {
  display: inline-block;
}
