* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(238, 238, 238);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  max-height: 2000px;
}

ul > li {
  display: flex;
  width: 33.33%;
  margin: 20px;
}

.card {
  box-shadow: 0 0 5px #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card-body,
.card-footer {
  background-color: #fff;
  color: #000;
  padding: 20px;
}

.card-footer p,
.card-body p {
  margin: 0;
}

.card-body span {
  margin-bottom: 20px;
  display: block;
}

.card-footer {
  border-top: 1px solid;
}

img {
  width: 100%;
  height: auto;
}

.masonry {
  max-width: 1000px;
  margin: 0 auto;
}
