@media all and (max-width: 884px) {
  main {
    padding: 1em;
  }

  .newsletter-boxes {
    flex-direction: column;
  }

  .newsletter-bottom {
    display: flex;
  }

  .newsletter-bottom h4 {
    text-align: left;
  }

  .newsletter-bottom-content {
    text-align: left;
  }

  .bottom-logo {
    width: 17%;
  }
}
