table,
th,
td {
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  border-style: solid;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 50px 0 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: rgb(221, 221, 221);
  text-align: left;
}

td,
th {
  padding: 5px;
}

tbody tr:nth-child(odd) {
  background: rgb(241, 241, 241);
}

tbody tr:nth-child(odd) td {
  background: rgb(241, 241, 241);
}

tbody tr:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
